APP_NAME=Weather
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

WEATHER_URL='https://weather-ydn-yql.media.yahoo.com/forecastrss'
WEATHER_APP_ID='CUdvw2Ar'
WEATHER_COMSUMER_KEY='dj0yJmk9aHoyZGVLOUlUWk9wJmQ9WVdrOVExVmtkbmN5UVhJbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTJk'
WEATHER_COMSUMER_SECRET='e65de4bac2b4b3be0ecbc4958d640fb153175a77'